#忽略什么配置什么，不上传到git repository中
*.class

#包文件
*.war
*.ear

#kdiff3
*.orig

#maven打包
target/

#eclipse相关
.settings/
.project
.classpatch

#IDEA相关
.idea/
/idea/
*.ipr
*.iml
*.iws

#临时文件
*.log
*.cache
*.diff
*.patch
*.tmp

#系统文件
.DS_Store
Thumbs.db

